<div class="container">
    <div class="register-img">
        <img src='/assets/common/register.png' class="img-responsive" style="width: 20%;">
        <h1>¡Hola!</h1>
        <button type="button" style="width: 30%;" class="btn btn-outline-light" routerLink="/">¿Ya tenes una cuenta?</button>
    </div>
</div>
<div class="container">
    <div class="register-container">
        <div class="form-container">
            <div class="column align-items-md-stretch text-center">
                <h1>REGISTRO</h1>
                <div class="col-12">
                    <img src='/assets/logos/patient.png'
                         class="img-responsive" 
                         style="width: 80%; border-radius:50%; box-shadow: 0 0 3px 3px #ffffff;"
                         routerLink="./patient"> 
                    <br><br>
                    <img src= '/assets/logos/doctor.png'
                    class="img-responsive" 
                    style="width: 80%; border-radius:50%; box-shadow: 0 0 3px 3px #ffffff;"
                    routerLink="./doctor"> 
                </div>
            </div>
        </div>
    </div>
</div>